.modalContainer {
  top: 25px;
  right: 116px;
  width: 634px;
  min-height: 300px;
  margin: 0 auto;
  border-radius: 14px;
}

.modalHeader {
  height: 57px;
}

.closeButton {
  top: 16px;
  left: 16px;
  width: 24px;
  height: 24px;
  color: var(--major);
}

.modalBody {
  display: flex;
}

.addTweetAvatar {
  width: 50px;
  height: 50px;
  margin-top: 0px;
  margin-left: 8px;
  border-radius: 50%;
}

.addTweetTextarea {
  position: relative;
  top: 0px;
  left: 0px;
  padding: 0;
  margin-top: 12px;
  margin-left: 8px;
  width: 528px;
  min-height: 50px;
  max-height: 300px;
  border: none;
  outline: none;
  resize: none;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.modalFooter {
  position: relative;
  border: none;
  height: 72px;
}
.wordHint {
  position: absolute;
  top: 22px;
  left: 28px;
  margin-right: 16px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #6c757d;
}

.wordHintOver {
  position: absolute;
  top: 22px;
  left: 28px;
  margin-right: 16px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: red;
}

.wordLimitHint {
  margin-right: 16px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: red;
}

.tweetButton {
  width: 64px;
  height: 40px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  color: var(--white);
  background-color: var(--major);
}
