.mainPageContainer {
  /* Display */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Box Model */
  width: 1140px;
  height: 100vh;
  margin: 0 auto;
}

.mainbarContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 639px;
  height: 100vh;
  border-right: 1px solid var(--lightGrayOne);
  border-left: 1px solid var(--lightGrayOne);
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.userPageHeader {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--lightGrayOne);
}

.userPageHeaderText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  height: 60px;
  margin-left: 20px;
}

.userPageTitle {
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.userPageTweetCounts {
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 13px;
  color: #6c757d;
}

.logo {
  display: flex;
  margin-left: 25px;
  color: black;
}

.userinfoContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 378px;
}

.userBcgImage {
  width: 638px;
  height: 200px;
  object-fit: cover;
}
.userAvatar {
  position: absolute;
  width: 140px;
  height: 140px;
  border: 4px solid var(--white);
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 18px;
  top: 124px;
}

.editUserinfoBtn {
  margin: 16px 16px auto auto;

  width: 128px;
  height: 40px;
  border-radius: 50px;
  background-color: var(--white);
  border: 1px solid var(--major);
  color: var(--major);
  font-size: 16px;
  line-height: 40px;
  cursor: pointer;
}

.userinfo {
  font-family: "Noto Sans TC", sans-serif;
  text-align: left;
  margin: 18px 16px 0 16px;
  height: 106px;
}

.userinfo > span > b {
  font-weight: 800;
  font-size: 18px;
  height: 16px;
}

.nickName {
  display: block;
  font-weight: 400;
  font-size: 14px;
  color: #6c757d;
  height: 16px;
}

.description {
  display: block;
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  height: 16px;
}

.follow {
  display: flex;
  justify-content: flex-start;
  margin-top: 16px;
  height: 16px;
}

.followerInfoBtn {
  min-width: 75px;
  height: 22px;
  color: #6c757d;
  font-size: 14px;
  cursor: pointer;
}
.followingInfoBtn {
  min-width: 75px;
  height: 22px;
  color: #6c757d;
  font-size: 14px;
  cursor: pointer;
  margin-left: 20px;
}
.followNum {
  color: #171725;
}
