.homePageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1140px;
  height: 100vh;
  margin: 0 auto;
}

.mainbarContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 639px;
  height: 100vh;
  border-right: 1px solid var(--lightGrayOne);
  border-left: 1px solid var(--lightGrayOne);
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.homePageTitle {
  position: relative;
  font-size: 24px;
  font-weight: 800;
  margin: 12px 0 12px 20px;
}

.addTweetSection {
  position: relative;
  display: flex;
  width: 638px;
  border-top: 1px solid var(--lightGrayOne);
  border-bottom: 10px solid var(--lightGrayOne);
}

.addTweetAvatar {
  width: 50px;
  height: 50px;
  margin: 16px 8px 0 25px;
}

.addTweetSpace {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 526px;
  margin: 15px 0px 15px 8px;
}

.addTweetTextarea {
  position: relative;
  top: 0px;
  left: 0px;
  padding: 0;
  margin-top: 12px;
  width: 526px;
  min-height: 50px;
  max-height: 300px;
  border: none;
  outline: none;
  resize: none;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 800;
  font-size: 18px;
  &::placeholder {
    color: #6C757D;
  }
}

.tweetButton {
  width: 64.5px;
  height: 40px;
  margin-top: 15px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  color: var(--white);
  background-color: var(--major);
}

.tweetsCollection {
  position: relative;
  width: 638px;
  height: 100vh;
  border-top: 10px solid var(--lightGrayOne);
}
