.mainPageContainer {
    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Box Model */
    width: 1140px;
    height: 100vh;
    margin: 0 auto;
}

.mainbarContainer {
    min-width: 641px;
    height: 100%;
}