.mainPageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1140px;
  height: 100vh;
  margin: 0 auto;
}

//settingPage right bar container
.rightbarContainer {
  width: 273px;
  margin: 16px 25px;
}
