.mainbarContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 639px;
  height: 100vh;
  border-right: 1px solid var(--lightGrayOne);
  border-left: 1px solid var(--lightGrayOne);
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.replyListHeader {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--lightGrayOne);
}

.replyListPageTitle {
  font-size: 24px;
  font-weight: bold;
  margin: 12px 0 12px 20px;
}

.logo {
  display: flex;
  margin-left: 25px;
  color: black;
}

.tweetSection {
  position: relative;
  width: 638px;
  border-bottom: 1px solid var(--lightGrayOne);
}

.tweetHeader {
  display: flex;
  margin: 16px 8px 8px 16px;
}

.tweetAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.userInfos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 8px;
}

.userName {
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 800;
  font-size: 16px;
    max-width: 500px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.userNickName {
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  color: #92929d;
}

.tweetMain {
  margin: 0 45px 0 16px;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 24px;
  text-align: start;
}

.tweetFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.time {
  width: 609px;
  margin: 0 0 0 16px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: start;
  line-height: 38px;
  color: #92929d;
  border-bottom: 1px solid var(--lightGrayOne);
}

.feedbackCounts {
  width: 609px;
  margin: 0 0 0 16px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  font-size: 19px;
  text-align: start;
  line-height: 60px;
  color: #6c757d;
  border-bottom: 1px solid var(--lightGrayOne);
}

.feedbackCounts > span {
  margin-right: 24px;
}

.commentCounts,
.likeCounts {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #171725;
}

.feedbackButtons {
  width: 609px;
  margin: 20px 0 20px 16px;
  height: 30px;
  text-align: start;
  text-decoration: none;
}

.feedbackButton {
  width: 30px;
  height: 30px;
  margin: 0 128px 0 0;
  color: #6c757d;
}

.tweetsCollection {
  position: relative;
  width: 639px;
  height: 100vh;
}
