.adminMainbarContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 937px;
  height: 100%;
  border-right: 1px solid var(--lightGrayOne);
  border-left: 1px solid var(--lightGrayOne);
}

.adminHomePageTitle {
  position: relative;
  top: 8px;
  font-size: 24px;
  font-weight: bold;
  line-height: 59px;
  margin: 0px 0 0px 20px;
}

.titleLine {
  position: absolute;
  top: 75px;
  left: 214px;
  width: 937px;
  height: 1px;
  background-color: var(--lightGrayOne);
}

.adminTweetCollection {
  position: relative;
  top: 0px;
  margin-top: 16px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
