.adminUserPageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1140px;
  height: 100vh;
  margin: 0 auto;
}

.adminMainbarContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 937px;
  height: 100%;
  border-left: 1px solid var(--lightGrayOne);
}

.adminUserPageTitle {
  font-size: 24px;
  font-weight: bold;
  margin: 12px 0 12px 20px;
}

.titleLine {
  position: absolute;
  top: 60px;
  left: 214px;
  width: 100vw;
  height: 1px;
  background-color: var(--lightGrayOne);
}
