// .adminMainPageContainer {
//   /* Display */
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   /* Box Model */
//   width: 1140px;
//   height: 100vh;
//   margin: 0 auto;
// }
.adminMainPageContainer  {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1140px;
  height: 100vh;
  margin: 0 auto;
}