.input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f5f8fa;
  width: 100%;
  height: 54px;
  border-bottom: 2px solid #000000;
}

label {
  position: absolute;
  left: 10.55px;
  top: 2px;
  bottom: 30px;
  width: 334.9px;
  height: 22px;
  font-size: 14px;
  color: "#696974";
  text-align: start;
}

input {
  position: absolute;
  left: 10.55px;
  top: 24px;
  bottom: 4px;
  width: 334.9px;
  height: 26px;
  font-size: 16px;
  //   color: #b5b5be;
  outline: none;
  border: none;
  background-color: #f5f8fa;
  border-radius: 0px;
}
