.tweetsCollection {
  position: relative;
  width: 639px;
  height: 100vh;
}

.tweetContainer {
  display: flex;
  justify-content: flex-start;
  width: 638px;
  padding-top: 16px;
  border-bottom: 1px solid var(--lightGrayOne);
}

.userAvatar {
  width: 50px;
  height: 50px;
  margin: 0 0 0 25px;
  border-radius: 50%;
}

.tweetTextContainer {
  display: flex;
  flex-direction: column;
  width: 528px;
  margin: 0px 68px 20px 8px;
}

.tweetHeader {
  display: flex;
  align-items: flex-end;
  height: 26px;
}

.userName {
  position: relative;
  top: 2.5px;
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 800;
  font-size: 16px;
  white-space: nowrap;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nickNameTime {
  height: 75%;
  margin: 0 0 0 8px;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  color: #92929d;
}

.userNickName {
  text-decoration: none;
  color: #92929d;
}

.replyTo {
  margin: 14px 0;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  text-align: start;
  color: #92929d;
}

.replyNickName {
  text-decoration: none;
  color: var(--major);
}

.comment {
  max-width: 528px;
  margin: 0;
  text-align: start;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
}
