.cursorPointer {
  cursor: pointer;
}

.tweetContainer {
  display: flex;
  justify-content: flex-start;
  width: 639px;
  height: 153px;
  margin-top: 16px;
  border-bottom: 1px solid var(--lightGrayOne);
}

.userAvatar {
  width: 50px;
  height: 50px;
  margin: 0 0 0 25px;
}

.tweetTextContainer {
  display: flex;
  flex-direction: column;
  width: 528px;
  height: 136px;
  margin: 0px 30px 16px 7px;
}

.tweetHeader {
  display: flex;
  align-items: flex-end;
  height: 26px;
}

.userName {
  height: 80%;
  margin: 0;
  font-size: 16px;
  white-space: nowrap;
}

.userNickName {
  height: 80%;
  margin: 0 0 0 8px;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  color: #92929d;
}

.comment {
  height: 78px;
  text-align: start;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  display: -webkit-box;
  max-width: 528px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.tweetFooter {
  height: 16px;
  width: 120px;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.replyButton {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 38px;
  height: 16px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #6c757d;
  .commentIcon {
    margin: 0;
  }
  .commentCounts {
    margin: 0;
  }
}


.likeButton {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 38px;
  height: 16px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #6c757d;
  .commentIcon {
    margin: 0;
  }
  .commentCounts {
    margin: 0;
  }
}