.tweetsCollection {
  position: relative;
  width: 638px;
  height: 100vh;
}

.openReplyList {
  cursor: pointer;
}

.tweetContainer {
  display: flex;
  justify-content: flex-start;
  width: 638px;
  height: 153px;
  margin-top: 16px;
  border-bottom: 1px solid var(--lightGrayOne);
}

.userAvatar {
  width: 50px;
  height: 50px;
  margin: 0 0 0 25px;
  border-radius: 50%;
}

.tweetTextContainer {
  display: flex;
  flex-direction: column;
  width: 528px;
  height: 136px;
  margin: 0px 30px 16px 7px;
}

.tweetHeader {
  display: flex;
  align-items: flex-end;
  height: 26px;
}

.userName {
  position: relative;
  top: 2.5px;
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 800;
  font-size: 16px;
  white-space: nowrap;
  color: #000;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userNickName {
  height: 75%;
  margin: 0 0 0 8px;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 14px;
  color: #92929d;
}

.comment {
  position: relative;
  top: 10px;
  height: 75px;
  text-align: start;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  display: -webkit-box;
  max-width: 528px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #000;
  word-break: break-all;
}

.tweetFooter {
  height: 16px;
  width: 120px;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.replyButton,
.likeButton {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 38px;
  height: 16px;
  border: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #6c757d;
  .commentIcon {
    margin: 0;
  }
  .counts {
    margin: 0;
  }
}

.likeButton {
  .likeIcon {
    margin: 0;
  }
}
